@charset'utf-8';
/* 主体样式 */
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
/* 导航栏 */
nav{
    min-width: 1200px;
    height: 36px;
    line-height: 36px;
    background-color: #2e2828;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    z-index: 411;
}
.nav-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.nav-container li{
    float: left;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;

}
.nav-container li a{
    color: #afafaf;
}
.nav-container li:before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background: #414141;
}
.nav-container a:hover{
    color: #fff;
}
/* 左侧 */

.dropdown{
    cursor: pointer;
    position: relative;
}

.dropdown:hover .b{
    display: block;
}
.dropdown i{
    position: absolute;
    right: 0;
    top: 0px;
    color: #afafaf;
}
.dropdown-i{
    position: relative;
    padding-right: 18px;
}
.dropdown .b{
    min-width: 100%;
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    box-shadow: black 3px;
    background-color: #fff;
    min-width: 50px;
    text-align: center;
    border: #afafaa 1px solid;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
}
.dropdown .b dt{
    margin: 0 5px;
    word-wrap: normal;
    width: 120px;
}
.dropdown .b dt:hover{
    color: #900;
}
/* 右侧 */
#login_status{
    display: none;
}
#webnav .b{
    padding-left: 30px;
}
.cart{
    padding: 0 4px;
    height: 36px;
    background: #424242;
    cursor: pointer;
    color: #afafaf;
}
.b .c{
    width: 185.0px;
    margin-top: 22.0px;
    margin-bottom: 20.0px;
}
.b .c .nav-h-c{
    text-align: left;
    padding-left: 20px;
}
.b .c ul{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.b .c ul h2{
    font-weight: 700;
    font-size: 16px;
    color: #333;
}
.b .c ul li{
    color: #777;
    font-size: 16px;
    min-width: 35%;
}
#webnav:hover .b{
    display: flex;
    justify-content: space-around;
}


/* header */

header{
    padding: 18px 0 15px;
    height: 74px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-container .left{
    width: 754px;
    display: flex;
    justify-content: space-between;
}
header .header-container .img{
    height: 36px;
}
.logo{
    width: 205px;
    height: 100%;
}
.logo a{
    width: 205px;
    height: 100%;
}
.logo img{
    width: 205px;
    height: 36px;
}
#naver-list{
    width: 520px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#naver-list img{
    height: 24px;
    width: 74px;
}
#naver-list .img{
    height: 24px;
}
#naver-list a{
    font-size: 16px;
    line-height: 40px;
    color: black;
}
#naver-list a:hover{
    color: #ca141d;
}

/* 搜索栏 */
form{
    position: relative;
}
.icon-sousu{
    position: absolute;
}
#search-kw{
    width: 205px;
    height: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
    border-right: none;
    outline: none;
    background: #f0f0f0;
}
input[type="submit"]{
    width: 35px;
    height: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 0 15px 15px 0;
    border-left: none;
    outline: none;
    background: #f0f0f0;
    text-align: center;
}


/* 底部内容 */
/* 口号 */
#slogan-container{
	background: #f0f0f0;
	width: 100%;
}
.slogan{
	padding: 46px 0 46px;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.slogan li{
	float: left;
	line-height: 47px;
	font-size: 18px;
	color: #3a3a3a;
	height: 47px;
	width: 300px;
	text-align: left;
}
.slogan li i{
	display: inline-block;
	line-height: 47px;
	width: 47px;
	height: 47px;
	margin-right: 16px;
	vertical-align: middle;
	background: url(../img/icon0.png);
}
.slogan .s2 i {
    background-position: -94px 0;
}
.slogan .s3 i {
    background-position: -141px 0;
}
.slogan .s4 i {
    background-position: -47px 0;
}

/*服务*/
#se{
	width:100%;
	background: #F0F0F0;
}
.service{
	border-top: 1px solid #e8e8e8;
	padding: 26px 0 18px;
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.f1{
	float:left;
}
.service-l{
	width: 944px;
	min-height: 164px;
	margin-top: 2px;
	border-right: 1px solid #ebebeb;
}
.service .service-l dl{
	width:16%;
	float:left;
}
.service dt {
    font-size: 14px;
    color: #3a3a3a;
}
.service dt .line {
    background: #a8a8a8;
    width: 22px;
    height: 2px;
    margin: 2px 0 12px 0;
}
.service dt .title {
    font-size: 14px;
    padding-bottom: 12px;
    color: #3a3a3a;
}
.service dd li{
    line-height: 24px;
}
.service dd li a{
    color:#666;
}
/*鼠标悬浮超链接字体颜色变化*/
.service dd li a:hover{
    color:#CA151D;
}

/*设置400号码字体大小*/
.service-r .s7 .title{
	font-size: 24px;
    padding: 0;
    line-height: 24px;
}

/* 右部分 */
.service .service-r {
    width: 210px;
    margin-top: 2px;
    padding-left: 40px;
    /*background: red;*/
}

.btn-line-primary {
    display: inline-block;
    width: 161px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900;
    cursor: pointer;
    border-radius: 5px;
}
/*设置在线客服里面的小图标*/
.btn-line-primary i{
	display: inline-block;
    height: 18px;
    width: 22px;
    background:url(../img/icon2.png) -303px 0 no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

/*底部*/
.footer-container{
    background: #e6e6e6;
    width: 100%;
    height:120px;
}
.footer{
    padding: 26px 0 34px;
    width: 1200px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
}
.f-logo{
	width: 79px;
	height: 16px;
	padding: 20px 38px 0 0;
	float: left;
}
.area{
	text-align: left;
	color: #a4a4a4;
	line-height: 20px;
}
.area a{
	color: #a4a4a4;
}
.fl{
	float: left;
	font-size: 12px;
}

.fr{
	padding:15px 0 0;
	float: right;
}
.fr a{
	display: block;
	width: 70px;
	margin-left: 4px;
	height: 24px;
}
.fr img{
	vertical-align: top;
	width: 70px;
	height: 24px;
}