@charset'utf-8';
/* banner */
.banner{
    position: relative;
    width: 100%;
}
.banner_wrap{
    position: absolute;
    height: 100%;
}
.sliderController{
    width: 1200px;
    height: 30%;
    position: absolute;
    z-index: 5;
    top: 40%;
}
.sliderController>span{
    display: block;
    color: #fff;
    background-color: rgba(200, 200, 200, 0.3);
    width: 60px;height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
}
.sliderController>span:hover{
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.9);

}
.sliderController #sliderLeft{
    position: absolute;
    left: 250px;
}
.sliderController #sliderRight{
    position: absolute;
    right: 10px;
}
.sliderPoint{
    display: flex;
    position: absolute;
    bottom: 10%;right: 25%;
    width: 200px;height: 20px;
    justify-content: space-around;
    align-items: center;
}
.sliderPoint .current{
    background-color: #fff;
}
.sliderPoints{
    border: #fff 3px solid;
    width: 16px;height: 16px;
    border-radius: 100%;
}

.sliderItem{
    display: none;
}
.sliderItem img{
    width: 100%;
    height: 100%;
}
.banner-container .current{
    display: block;
}

/* catelist */
.catelist{
    position: relative;
    height: 0;
}
.cateList-container{
    position: absolute;
    z-index: 20;
    top: 5px;
    width: 200px;
    height: 360px;
    background-color: #f9f9f9;
    transform: perspective(1200px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 28px rgba(0,0,0,0.08);
}
.cateshow{
    font-size: 16px;
    line-height: 20px;
    padding: 3px 12px;
    color: #3a3a3a;
}
.catelist span{
    float: right;
}
.cateshow:hover{
    cursor: pointer;
    background-color: #fff;
}
.catehide{
    padding: 10px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    top: 0;
    left: 200px;
}
.catehide p{
    width: 160px;
    text-align: center;
}
.cateList-container>li>.current{
    display: flex;
    height: 360px;min-width: 700px;

}
.cateHideContent{
    width: 200px;height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px 0;
}
.catehide>.current{
    background-color: #afafaf;
}
.cateHideContent img{
    height: 50px;
}

/* 轮播图下方菜单 */
.channel{
    height: 60px;
    border: 1px #ccc solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10pxgit;
    padding: 0 20px;
}
.channelLeft{
    flex: 0.25;
    height: 50px;
    border-right: #414141 1px dashed;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;

}
.userface{
    width: 40px;height: 40px;
    background: #000;
    border-radius: 100%;
}
.channelLeft div{
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.channelCenter{
    flex: 0.5;
}
.channelCenter ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.channelRight{
    flex: 0.25;
    height: 40px;
}
.channelRight span{
    margin-left: 20px;
}
.channelRight .youhui{
    height: 50%;
    border-top: #cccccc 1px dashed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.channelRight .youhui a{
    width: 65px;
}

/* 楼层图样式 */
.floor{
    margin-top: 26px;
    line-height: 26px;
    color: #333;
}
/* 楼层标题样式 */
.floor-H{
    padding: 5px 20px;
    margin-bottom: 10px;
}
.floor-H h2{
    float: left;
    font-size: 26px;
    line-height: 26px;
}
.floor-H span{
    float: right;
}

.floor-H span a{
    color: #333;
    font-size: 14px;
    line-height: 26px;
}
.floor-H span a:hover{

    color: red;
}
/* 楼层底部内容 */
.floor-B{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.floor-content{
    width: 230px;
    height: 290px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 6px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
}

.floor-content:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.5s;
    box-shadow: 2px 2px 7px 2px #ccc ;
}
.floor-content img{
    width: 150px;height: 150px;
}
.floor-content h3{
    margin: 8px 0;
    font-size: 16px;
    line-height: 16px;
    color: #000;
}
.floor-content p{
    color: #afafaf;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 4px;
}
.floor-content span{
    color: #d0021b;
}

/* 口号 */
#slogan-container{
	background: #f0f0f0;
	width: 100%;
}
.slogan{
	padding: 46px 0 46px;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.slogan li{
	float: left;
	line-height: 47px;
	font-size: 18px;
	color: #3a3a3a;
	height: 47px;
	width: 300px;
	text-align: left;
}
.slogan li i{
	display: inline-block;
	line-height: 47px;
	width: 47px;
	height: 47px;
	margin-right: 16px;
	vertical-align: middle;
	background: url(../img/icon0.png);
}
.slogan .s2 i {
    background-position: -94px 0;
}
.slogan .s3 i {
    background-position: -141px 0;
}
.slogan .s4 i {
    background-position: -47px 0;
}

/*服务*/
#se{
	width:100%;
	background: #F0F0F0;
}
.service{
	border-top: 1px solid #e8e8e8;
	padding: 26px 0 18px;
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.f1{
	float:left;
}
.service-l{
	width: 944px;
	min-height: 164px;
	margin-top: 2px;
	border-right: 1px solid #ebebeb;
}
.service .service-l dl{
	width:16%;
	float:left;
}
.service dt {
    font-size: 14px;
    color: #3a3a3a;
}
.service dt .line {
    background: #a8a8a8;
    width: 22px;
    height: 2px;
    margin: 2px 0 12px 0;
}
.service dt .title {
    font-size: 14px;
    padding-bottom: 12px;
    color: #3a3a3a;
}
.service dd li{
    line-height: 24px;
}
.service dd li a{
    color:#666;
}
/*鼠标悬浮超链接字体颜色变化*/
.service dd li a:hover{
    color:#CA151D;
}

/*设置400号码字体大小*/
.service-r .s7 .title{
	font-size: 24px;
    padding: 0;
    line-height: 24px;
}

/* 右部分 */
.service .service-r {
    width: 210px;
    margin-top: 2px;
    padding-left: 40px;
    /*background: red;*/
}

.btn-line-primary {
    display: inline-block;
    width: 161px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900;
    cursor: pointer;
    border-radius: 5px;
}
/*设置在线客服里面的小图标*/
.btn-line-primary i{
	display: inline-block;
    height: 18px;
    width: 22px;
    background:url(../img/icon2.png) -303px 0 no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

/*底部*/
.footer-container{
    background: #e6e6e6;
    width: 100%;
    height:120px;
}
.footer{
    padding: 26px 0 34px;
    width: 1200px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
}
.f-logo{
	width: 79px;
	height: 16px;
	padding: 20px 38px 0 0;
	float: left;
}
.area{
	text-align: left;
	color: #a4a4a4;
	line-height: 20px;
}
.area a{
	color: #a4a4a4;
}
.fl{
	float: left;
	font-size: 12px;
}

.fr{
	padding:15px 0 0;
	float: right;
}
.fr a{
	display: block;
	width: 70px;
	margin-left: 4px;
	height: 24px;
}
.fr img{
	vertical-align: top;
	width: 70px;
	height: 24px;
}